:root{
    // Colors
    --background: #070d16;
    --section:#0a1628;
    --brand-accent: #64ffda;
    --simply-accent: #8f83ef;
    --simply-text: #5c7589;
    --primary-text: #e8f0fe;
    --input-background: #10203d;
    --form-input-background: #0a192f;
}